

.bestsellers-book-list, .category-book-list {
 justify-content: center;
  gap: 32px;
  display: flex;
  margin-bottom: 32px;

}
.book-item {
  cursor: pointer;
}

.book-title,
.author-name {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title_bookshelf {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  /* identical to box height, or 108% */

  letter-spacing: -0.04em;

  color: #111111;
}

.book-img-container {
  width: 180px;
  height: 256px;
  overflow: hidden;
  margin-bottom: 14px;
}

.book-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categories-title-last-word {
  color: var(--text-color-title-violet);
}


.bestsellers-category-item, .bookshelf-category-item{
    position: relative;
}

.bestsellers-button {
  padding-top: 14px;
  padding-right: 28px;
  padding-bottom: 14px;
  padding-left: 28px;
  display: flex;
  border-radius: 40px;
  border: 2px solid var(--text-color-title-violet);
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.bestsellers-title, .bookshelf-category-title {
margin-bottom: 40px;

}
.bestsellers-category-name {
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .left_part {
    display: flex;
    width: 704px;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  .home_page_main {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
  }
//   .bookshelf {
//     display: flex;
//     width: 704px;
//     flex-direction: column;
//   }
//   .bookshelf {
//     /* padding-top: 40px; */
//     /* padding-left: 40px; */
//     /* padding-right: 24px; */
//     display: flex;
//     flex-wrap: wrap;
//     width: 704px;
//   }
//   .bestsellers-book-list {
//     width: 704px;
//     justify-content: space-between;
//     gap: 20px;
//     margin-bottom: 20px;
//     display: flex;
//   }
//   .book-img-container {
//     width: 218px;
//     height: 316px;
//     margin-bottom: 14px;
//     overflow: hidden;
//   }
//   .bestsellers-button {
//     border: 2px solid var(--text-color-title-violet);
//     text-transform: uppercase;
//     border-radius: 40px;
//     /* margin-bottom: 40px; */
//     padding: 14px 28px;
//     font-size: 14px;
//     display: flex;
//   }
//   .bestsellers-category-item {
//     margin-bottom: 40px;
//   }
}

// @media screen and (min-width: 1440px) {
//     .bestsellers-book-list {
//   flex-wrap: wrap;
//     justify-content: center;
//     gap: 32px;
//     display: flex;
//     margin-bottom: 32px;
// }
// .book-item{
//     cursor: pointer;
// }

// .book-title, .author-name {
//     width: 180px;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }

// .title_bookshelf {
// font-style: normal;
// font-weight: 700;
// font-size: 48px;
// line-height: 52px;
// /* identical to box height, or 108% */

// letter-spacing: -0.04em;

// color: #111111;

// }

// .book-img-container{
//     width:180px;
//     height: 256px;
//     overflow: hidden;
//     margin-bottom: 14px;
// }

// .book-img{
//     width:100%;
//     height: 100%;
// object-fit: cover;
// }

// .categories-title-last-word{
//     color:var(--text-color-title-violet);
// }

// .bestsellers-category-item{
//     position: relative;

// }

// .bestsellers-button{
//     padding-top: 14px;
//     padding-right: 28px;
//     padding-bottom: 14px;
//     padding-left: 28px;
//     display: flex;
//     border-radius: 40px;
//     border:2px solid var(--text-color-title-violet);
//     font-size: 14px;
//     text-transform: uppercase;
//         margin-bottom: 40px;
// }
// .home_page_main {
//     display: flex;
// }
// .bookshelf {
    //     padding-left: 40px;
    //     padding-top: 40px;
    //     padding-right: 24px;
    // }
    // .bestsellers-title {
// margin-bottom: 40px;
// }
// .bestsellers-category-name {
    //     margin-bottom: 18px;
    // }
    
// }
    @media screen and (min-width: 1440px) {
        .home_page_main {
          display: flex;
         padding-top: 40px;
        flex-wrap: inherit;
        }
        .bookshelf {
            padding-left: 40px;
            padding-right: 24px;
        }
        .left_part {
          justify-content: flex-start;
          width: 356px;
          display: flex;
          flex-direction: column;
        }
        // .bestsellers-book-list {
            //   flex-wrap: wrap;
            //     justify-content: center;
            //     gap: 32px;
            //     display: flex;
            //     margin-bottom: 32px;
            // }
            // .book-item{
                //     cursor: pointer;
                // }
                
  // .book-title, .author-name {
      //     width: 180px;
      //     white-space: nowrap;
      //     overflow: hidden;
  //     text-overflow: ellipsis;
  // }

  // .title_bookshelf {
  // font-style: normal;
  // font-weight: 700;
  // font-size: 48px;
  // line-height: 52px;
  // /* identical to box height, or 108% */

  // letter-spacing: -0.04em;

  // color: #111111;

  // }

  // .book-img-container{
  //     width:180px;
  //     height: 256px;
  //     overflow: hidden;
  //     margin-bottom: 14px;
  // }

  // .book-img{
  //     width:100%;
  //     height: 100%;
  // object-fit: cover;
  // }

  // .categories-title-last-word{
  //     color:var(--text-color-title-violet);
  // }

  // .bestsellers-category-item{
  //     position: relative;

  // }

  // .bestsellers-button{
  //     padding-top: 14px;
  //     padding-right: 28px;
  //     padding-bottom: 14px;
  //     padding-left: 28px;
  //     display: flex;
  //     border-radius: 40px;
  //     border:2px solid var(--text-color-title-violet);
  //     font-size: 14px;
  //     text-transform: uppercase;
  //         margin-bottom: 40px;
  // }
  // .bestsellers-title {
  // margin-bottom: 40px;
  // }
  // .bestsellers-category-name {
  //     margin-bottom: 18px;
 
  // }
}
