ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;

}
.categories{
    height:  200px;
    width: 300px;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-bottom: 30px;
    
}

li{
   cursor: pointer; 
}