ul{
    list-style-type: none;
}

.categories{
    height:  200px;
    width: 300px;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-bottom: 30px;
    
}

.cat-list{
   cursor: pointer; 
}