ul {
  list-style-type: none;
}

.categories {
  height: 472px;
  width: 300px;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cat-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: 133%;

  color: rgba(17, 17, 17, 0.6);
}

.cat-list {
  cursor: pointer;
  margin-bottom: 32px;
}
.cat-list:focus {
  text-transform: uppercase;
}

.upper-case {
  text-transform: uppercase;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: 133%;
  text-transform: uppercase;

  color: #4f2ee8;
}

.categories::-webkit-scrollbar {
  width: 8px;
}

.categories::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 12px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

@media screen and (min-width: 768px) {
  .categories {
    height: 472px;
    width: 337px;
    scroll-behavior: smooth;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
}
}


@media screen and (min-width: 1440px) {
.categories {
    height: 472px;
    width: 356px;
    scroll-behavior: smooth;
    margin-top: 30px;
    margin-bottom: 86px;
    overflow-x: hidden;
    overflow-y: scroll;
}
}

