.header-container {
  position: relative;
  background: var(--bg-white-header);
  border: 1.5px solid var(--text-color-title-dark);
  border-radius: 0px 0px 8px 8px;
  padding-top: 18px;
  padding-bottom: 18px;
  color: var(--text-color-title-dark);
  z-index: 2;
}
.header-container.dark-theme {
  background: var(--bg-dark-theme-header);
  color: var(--text-color-title-white);
  border: 1.5px solid var(--text-color-title-white);
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  cursor: pointer;
  display: flex;
  gap: 8px;
}
.logo-icon {
  width: 24px;
  height: 24px;
}
.logo-name {
  width: 77px;
  height: 24px;
}
.logo-name.dark-theme {
  fill: var(--text-color-title-white);
}
.header-button-box {
  position: relative;
  display: flex;
  gap: 14px;
  align-items: center;
}
.sing-up-btn {
  display: none;
}
.authorizated-btn {
  display: none;
}
.mobile-menu-open-btn {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.burger-icon {
  fill: var(--text-color-title-dark);
}
.cross-icon.dark-theme,
.burger-icon.dark-theme {
  fill: var(--text-color-title-white);
}
.burger-icon:hover,
.burger-icon:focus {
  fill: var(--text-color-title-violet);
}

.burger-icon .mobile-menu-close-icon {
  display: none;
}
.theme-switcher-input {
  appearance: none;
  display: block;
  width: 40px;
  height: 28px;
  margin: 0;
  cursor: pointer;
}
.theme-switcher-input::before {
  content: '';
  width: 40px;
  height: 20px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
}
.theme-switcher-input::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 1px;
}
.theme-switcher-input.dark-theme::before {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}
.theme-switcher-input.dark-theme::after {
  left: 20.5px;
}

.navigation-main {
  display: none;
}
.mobile-menu-container {
  display: none;
  z-index: 1;
  position: absolute;
  top: 60px;
  width: 100%;
  background: var(--bg-support-ukraine);
  padding: 46px 20px 0 20px;
  height: 748px;
  // transition: transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  // transform: translateX(100%);
}
.mobile-menu-container.is-open {
  display: block;
  // transform: translateX(0);
}
.sing-up-btn-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  padding: 14px;
  border: 1.5px solid var(--text-color-title-dark);
  border-radius: 18px;
  color: var(--text-color-title-white);
  background: var(--text-color-title-violet);
}
.sing-up-icon {
  width: 20px;
  height: 20px;
  margin-left: 90px;
  fill: rgba(234, 198, 69, 1);
}
.mobile-menu-open-btn.is-open .mobile-menu-close-icon {
  display: block;
}
.mobile-menu-open-btn.is-open .mobile-menu-open-icon {
  display: none;
}

body.mobile-menu-open {
  overflow: hidden;
}

// .mobile-menu-container {
//   position: relative;
//   padding: 40px;
// }
// .mobile-menu {
//   display: flex;
//   flex-direction: column;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 999;
//   width: 100vw;
//   height: 100vh;
//   transition: transform 250ms ease-in-out;
//   transform: translateX(100%);
//   // background-color: var(--main-background);
// }
// .mobile-menu.is-open {
//   transform: translateX(0);
// }

@media screen and (min-width: 768px) {
  .mobile-menu-container,
  .mobile-menu-container.is-open {
    display: none;
  }
  .header-container {
    z-index: 0;
    padding-top: 14px;
    padding-bottom: 13px;
  }
  .header-box {
    justify-content: flex-start;
  }
  .logo-link {
    margin-right: 40px;
  }
  .navigation-main {
    display: block;
  }
  .navigation-list {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .navigation-item {
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }
  .current {
    background-color: var(--bg-current-page);
    font-weight: 700;
    border-radius: 36px;
  }
  .current.dark-theme {
    color: var(--text-color-title-dark);
  }
  .navigation-link {
    display: flex;
    align-items: center;
    color: inherit;
  }
  .logo-shop {
    width: 20px;
    height: 20px;
    margin-left: 4px;
  }
  .navigation-link.dark-theme {
    display: flex;
    align-items: center;
    color: var(--text-color-title-white);
  }
  .logo-shop.dark-theme {
    fill: var(--text-color-title-white);
  }
  .mobile-menu-open-btn {
    display: none;
  }
  .header-button-box {
    gap: 24px;
    align-items: center;
    margin-left: auto;
  }
  .log-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    padding: 14px;
    border: 1.5px solid var(--text-color-title-dark);
    border-radius: 18px;
  }
  .sing-up-btn {
    color: var(--text-color-title-white);
    background: var(--text-color-title-violet);
  }
  .log-out-btn {
    color: var(--text-color-title-dark);
    background: var(--text-color-title-white);
  }
  .authorizated-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.31;
    letter-spacing: -0.02em;
    color: var(--text-color-title-white);
    padding: 4px 12px;
    background: var(--text-color-title-violet);
    border: none;
    border-radius: 36px;
  }
  .user-icon-box {
    background-color: #f6f6f6;
    padding: 6px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-right: 9px;
  }
  .user-icon {
    width: 19px;
    height: 19px;
    fill: var(--text-color-title-violet);
  }
  .user-icon-arrow {
    width: 23px;
    height: 26px;
    fill: var(--text-color-title-white);
    margin-left: 4px;
  }
}

@media screen and (min-width: 1440px) {
  .logo-link {
    margin-right: 76px;
  }
  .navigation-list {
    gap: 24px;
  }
}
