.header-container {
  position: relative;
  background: var(--bg-white-header);
  border: 1.5px solid var(--text-color-title-dark);
  border-radius: 0px 0px 8px 8px;
  padding-top: 18px;
  padding-bottom: 18px;
  color: var(--text-color-title-dark);
  z-index: 31;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  cursor: pointer;
  display: flex;
  gap: 8px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-link:hover,
.logo-link:focus {
  transform: scale(1.2);
}
.logo-icon {
  width: 24px;
  height: 24px;
}
.logo-name {
  color: var(--text-color-title-dark);
  width: 77px;
  height: 24px;
  fill: currentColor;
}

.header-button-box {
  position: relative;
  display: flex;
  gap: 14px;
  align-items: center;
}
.sign-up-btn {
  display: none;
}
.authorizated-btn {
  display: none;
}
.log-out-btn {
  display: none;
}
.mobile-menu-open-btn {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.burger-icon {
  fill: var(--text-color-title-dark);
}

.burger-icon:hover,
.burger-icon:focus {
  fill: var(--text-color-title-violet);
}
.burger-icon .mobile-menu-close-icon {
  display: none;
}
.theme-switcher-input {
  appearance: none;
  display: block;
  width: 40px;
  height: 28px;
  margin: 0;
  cursor: pointer;
}
.theme-switcher-input::before {
  content: '';
  width: 40px;
  height: 20px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
}
.theme-switcher-input::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 1px;
}
.theme-switcher-input.dark-theme::before {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}
.theme-switcher-input.dark-theme::after {
  left: 20.5px;
}
.navigation-main {
  display: none;
}
/* -----------------------------------------------MOBILE-MENU------------------------------------------------------------ */
.mobile-menu-container {
  z-index: 30;
  position: absolute;
  top: 60px;
  width: 100%;
  background: url('/src/images/banner.png'), var(--bg-support-ukraine);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  padding: 26px 20px 80px 20px;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-100%);
}
.mobile-menu-container.is-open {
  display: block;
  transform: translateY(0);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .mobile-menu-container {
    background: url('/src/images/banner@2x.png'), var(--bg-support-ukraine);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
  }
}
@media screen and (min-width: 490px) {
  .mobile-menu-container {
    background-size: cover;
  }
}
/* -----------------------------------------------------MOBILE-MENU-sign-UP------------------------------------------------------------ */
// .sign-up-mobile-menu-box {
//   display: none;
// }
.sign-up-btn-mobile {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  padding: 14px;
  border: 1.5px solid #111111;
  border-radius: 18px;
  color: var(--text-color-title-white);
  background: var(--text-color-title-violet);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.sign-up-btn-mobile:hover {
  transform: scale(1.2);
}
.sign-up-icon {
  width: 20px;
  height: 20px;
  margin-left: 90px;
  fill: rgba(234, 198, 69, 1);
}
/* -----------------------------------------------------MOBILE-MENU-AUTHORIZATED------------------------------------------------------------ */
.authorizated-mobile-menu-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.authorizated-mobile-menu-box {
  display: none;
}
.authorizated-mobile-menu-user {
  display: flex;
  align-items: center;
}
.user-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin-right: 9px;
}
.user-icon {
  width: 19px;
  height: 19px;
  fill: var(--text-color-title-violet);
}
.user-name {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.31;
  letter-spacing: -0.02em;
  color: var(--text-color-title-white);
}
.mobile-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.mobile-navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--text-color-title-white);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-navigation-item:hover {
  transform: scale(1.2);
}
.current {
  padding: 8px 16px;
  background-color: var(--bg-current-page);
  font-weight: 700;
  border-radius: 36px;
  color: #111111;
}
.mobile-navigation-link {
  display: flex;
  align-items: center;
  color: inherit;
}
.logo-shop {
  margin-left: 4px;
  fill: currentColor;
}
.log-out-mobile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  padding: 14px;
  border: 1.5px solid var(--text-color-title-dark);
  border-radius: 18px;
  color: var(--text-color-title-dark);
  background: var(--bg-white-header);
  cursor: pointer;
  margin-top: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.log-out-mobile-btn .sign-up-icon {
  margin-left: 4px;
}
.log-out-mobile-btn:hover {
  transform: scale(1.2);
}
.mobile-menu-open-btn.is-open .mobile-menu-close-icon {
  display: block;
}
.mobile-menu-open-btn.is-open .mobile-menu-open-icon {
  display: none;
}
body.mobile-menu-open {
  overflow: hidden;
}
/* -----------------------------------------------------TABLET------------------------------------------------------------ */
@media screen and (min-width: 768px) {
  .mobile-menu-container,
  .mobile-menu-container.is-open {
    display: none;
  }
  .header-container {
    z-index: 0;
    padding-top: 14px;
    padding-bottom: 13px;
  }
  .header-box {
    justify-content: flex-start;
  }
  .logo-link {
    margin-right: 40px;
  }
  .navigation-main {
    display: block;
  }
  .navigation-list {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .navigation-item {
    position: relative;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--text-color-title-dark);
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-link {
    display: flex;
    align-items: center;
    color: inherit;
  }
  .navigation-item:hover {
    transform: scale(1.1);
  }
  .current {
    background-color: var(--bg-current-page);
    font-weight: 700;
    border-radius: 36px;
  }
  .current.navigation-item {
    color: #111111;
  }
  .logo-shop {
    color: inherit;
  }
  .logo-shop-path {
    fill: currentColor;
  }
  .mobile-menu-open-btn {
    display: none;
  }
  .header-button-box {
    gap: 24px;
    align-items: center;
    margin-left: auto;
  }
  .sign-up-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    padding: 14px;
    border: 1.5px solid #111111;
    border-radius: 18px;
    color: var(--text-color-title-white);
    background: var(--text-color-title-violet);
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .sign-up-btn:hover {
    transform: scale(1.1);
  }
  .sign-up-icon {
    margin-left: 90px;
  }
  /* ----------------------------------------------TABLET-AUTHORIZATED----------------------------------------------------------- */
  // .sign-up-box {
  //   display: none;
  // }
  .authorizated-box {
    display: none;
  }

  .authorizated-btn {
    min-width: 184px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inherit;
    padding: 4px 12px;
    background: var(--text-color-title-violet);
    border: none;
    border-radius: 36px;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .authorizated-btn:hover {
    box-shadow: 2px 2px 2px var(--text-color-allcategories-white-theme);
  }
  .log-out-btn {
    width: 184px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    width: 185px;
    height: 48px;
    padding: 14px;
    border: 1.5px solid var(--text-color-title-dark);
    border-radius: 18px;
    color: var(--text-color-title-dark);
    background: var(--bg-white-header);
    cursor: pointer;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .log-out-btn:hover {
    background: var(--text-color-title-violet);
    color: var(--text-color-title-white);
  }
  .user-icon-arrow {
    width: 23px;
    height: 26px;
    fill: var(--text-color-title-white);
    margin-left: 4px;
  }
  /* -----------------------------------------------------books-counter------------------------------------------------ */
  .books-counter {
    position: absolute;
    right: 0px;
    top: 2px;
    background-color: var(--hover-focus);
    padding: 2px;
    border-radius: 50%;
  }
  .books-counter-number {
    color: var(--bg-white-header);
  }
  .fa-fw {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13.5;
  }
}
/* ----------------------------------------------------PC------------------------------------------------------------ */
@media screen and (min-width: 1440px) {
  .logo-link {
    margin-right: 76px;
  }
  .navigation-list {
    gap: 24px;
  }
}
