// modal bach drop
.bacckdrop-sign {
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: radial-gradient(
    ellipse at bottom,
    #4F2EE8,
    #4F2EE8,
    #ac9aff,
  );
  background-size: 300% 300%;
  animation: gradient 17s ease infinite;
  z-index: 999;

  transition: all;
  transition-duration: 0.5s;

  
  // overflow-y: hidden;

}

// WRAPER FOR MODAL FORM SIGN
.wrap_modal_sign {
 z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 100%;
  padding: 0 40px;
  width: 579px;
  // height: 516px;
  background: #f6f6f6;
  border: 2px solid var(--text-color-title-dark);
  border-radius: 18px;
  color: #111111;


  // overflow-y: hidden;
}
.wrap_modal_sign.dark-theme {
  background: #202024;
  color: #f6f6f6;
}
// ELEMENTS FOWM
.form_sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;

  min-width: 295px;
  // max-width: 579px;

  
}

.form_sign input {
  width: 100%;
  height: 64px;

  padding-left: 40px;

  cursor: text;
  border-radius: 40px;
  border: 2px solid var(--text-color-title-dark);
  background: transparent;
  color: var(--text-color-title-dark);
}

.input:not(:first-child) {
  margin-top: 28px;
}

.sign-btn-on-modal {
  width: 100%;
  height: 64px;

  font-size: 18px;
  // line-height: 24px;

  letter-spacing: -0.01em;
  text-transform: uppercase;

  margin-top: 40px;
  cursor: pointer;
  border-radius: 40px;
  // padding: 20px 173px;
  background: var(--text-color-title-dark);
  color: var(--text-singup-btn);
}

.sign_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.close-modal {
  cursor: pointer;

  width: 14px;
  height: 14px;

  position: absolute;
  right: 31px;
  top: 31px;

  display: flex;
  align-items: center;
  font-size: medium;

  opacity: 0.4;
  color: var(--text-color-title-dark);
}

// icons
.form_sign i {
  position: absolute;
  right: 75;

  width: 24px;
  height: 18px;
}

.email-icon-modal-sign {
  bottom: 305;
}

.password-icon-modal-sign {
  bottom: 215;
}

// EFECTS FOR FORM
.close-modal:hover {
  animation: pulsing 1s infinite;
  color: #ff0000;

  opacity: 1;
  transition: all;
  transition-duration: 0.8s;
}

.form_sign button:hover {
  background: #eac645;
  color: #111111;
}

.form_sign button:focus {
  background: #eac645;
  color: #111111;
}

.input:hover {
  border-color: #eac645;
}

.input:focus {
  border-color: #eac645;
}

// animation
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
}

// SCROLL UP
#scrollup {
  position: fixed;
  z-index: 99999;
  bottom: 60;
  right: 60;

  background-color: rgba(119, 174, 236, 0.767);
  border-radius: 50%;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  color: #ffffff;

  transform: translate(50%, 50%);

  cursor: pointer;
}

#scrollup:hover {
  background: radial-gradient(ellipse at center, #7f86e6, #4751e7, #473aff);
  background-size: 300% 300%;
  animation: gradient 30s ease infinite;

  font-size: 60px;
  width: 80px;
  height: 80px;
}

.isshowbtn {
  opacity: 1;
  transition: 0.7s;

  &__hide {
    opacity: 0;
    display: none;
  }
}

.is-hiden {
  display: none;
}

.fa-circle-notch {
  position: fixed;
  z-index: 99999;
  bottom: -60px;
  right: 45%;

  background-color: rgba(119, 174, 236, 0.767);
  border-radius: 50%;
  padding: 10px;

  font-size: 30px;
  color: #ffffff;

  transform: translate(50%);

  pointer-events: none;
}

.visibility {
  visibility: hidden;
}

.sign_list {
}

.sign_list a {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: var(--text-color-allcategories-white-theme);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign_list a:hover {
  color: var(--hover-focus);
}

.sign_list .is-current-sign {
  text-decoration-line: underline;
  color: #4f2ee8;
}
