@media screen and (max-width: 767px) {
  .shopping_list {
    margin-top: 40px;
  }

  .title_shopping_list {
    width: 193px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -0.04em;
    margin-bottom: 40px;
  }

  .title_shopping_list_span {
    color: var(--hover-focus);
  }

  .shopping-list-empty-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .shopping-list-empty-text {
    margin-bottom: 14px;

    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
  }

  .shopping-list-empty-image {
    background-image: url(../images/mobile/shopping_list/books.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 265px;
    height: 198px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .shopping-list-empty-image {
      background-image: url(../images/mobile/shopping_list/books@2x.png);
      background-size: 265px 198px;
    }
  }
}

// Shoplist mobile books

.shoplist-book-img {
  margin-right: 14px;
  width: 100px;
  height: 142px;
  border-radius: 8px;
}

.shoplist-book-title {
  margin-bottom: 4px;
  width: 144px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--bg-dark-theme-header);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shoplist-book-description {
  margin-bottom: 14px;
  width: 193px;
  height: 68px;

  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shoplist-book-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;

  color: #b4afaf;
}

.shoplist-book-genre {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #b4afaf;
}

.shoplist-book-container {
  margin-bottom: 20px;
  padding: 14px;
  display: flex;
  width: 335px;
  height: 170px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
}

// tablet

@media screen and (min-width: 768px) {
  .shopping_list {
    margin-top: 40px;
  }

  .title_shopping_list {
    width: 292px;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -0.04em;
    margin-bottom: 140px;
  }

  .title_shopping_list_span {
    color: var(--hover-focus);
  }

  .shopping-list-empty-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .shopping-list-empty-text {
    margin-bottom: 20px;

    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
  }

  .shopping-list-empty-image {
    background-image: url(../images/tablet/books.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 322px;
    height: 241px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .shopping-list-empty-image {
      background-image: url(../images/tablet/books@2x.png);
      background-size: 322px 241px;
    }
  }
}

// Desktop

@media screen and (min-width: 1200px) {
}
