<div class="header-container">
  <div class="container">
    <div class="header-box">
      <a class="logo-link" href="/src/index.html">
        <svg class="logo-icon">
          <use href="/src/images/symbol-defs.svg#icon-logo-icon"></use>
        </svg>
        <svg class="logo-name">
          <use href="/src/images/symbol-defs.svg#icon-bookshelf"></use>
        </svg>
      </a>
      <nav class="navigation-main">
        <ul class="navigation-list">
          <li class="navigation-item current">
            <a class="navigation-link" href="/src/index.html">home</a>
          </li>
          <li class="navigation-item">
            <a class="navigation-link" href="/src/shopping_list.html"
              >shopping list
              <svg class="logo-shop">
                <use href="/src/images/symbol-defs.svg#icon-shop-list"></use>
              </svg>
              <span
                class="fa-layers fa-fw"
                id="hide"
                style="background: rgb(210, 243, 207)"
              >
                <i class="fa-solid fa-check"></i>
                <span
                  class="fa-layers-counter"
                  style="background: rgba(110, 224, 110, 0.753)"
                  ><span class="acum"></span
                ></span>
              </span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="header-button-box">
        <input
          class="theme-switcher-input"
          type="checkbox"
          name="checkbox"
          id="checkbox"
          onchange="onChange()"
        />

        <button type="button" class="mobile-menu-open-btn" data-mobile-menu-btn>
          <svg class="burger-icon" width="28" height="28">
            <use
              class="mobile-menu-open-icon"
              href="/src/images/symbol-defs.svg#icon-burger"
            ></use>
            <use
              class="mobile-menu-close-icon"
              href="/src/images/symbol-defs.svg#icon-close"
            ></use>
          </svg>
        </button>
        <button
          type="button"
          class="sing-up-btn signUpBtn"
          data-modal-open-sign
        >
          Sing up
          <svg class="sing-up-icon">
            <use href="/src/images/symbol-defs.svg#icon-arrow-sign"></use>
          </svg>
        </button>
        <!-- <button type="button" class="authorizated-btn">
          <div class="user-icon-box">
            <svg class="user-icon">
              <use href="/src/images/symbol-defs.svg#icon-user"></use>
            </svg>
          </div>
          <p class="user-name">Stephen</p>
          <svg class="user-icon-arrow">
            <use href="/src/images/symbol-defs.svg#icon-arrow-user"></use>
          </svg>
        </button> -->
        <!-- <button type="button" class="log-out-btn">
          Log out
          <svg class="sing-up-icon">
            <use href="/src/images/symbol-defs.svg#icon-arrow-sign"></use>
          </svg>
        </button> -->
      </div>
    </div>
  </div>
</div>

<div class="mobile-menu-container" data-mobile-menu>
  <div class="sing-up-mobile-menu-box">
    <button
      type="button"
      class="sing-up-btn-mobile signUpBtn"
      data-modal-open-sign
    >
      Sing up
      <svg class="sing-up-icon">
        <use href="/src/images/symbol-defs.svg#icon-arrow-sign"></use>
      </svg>
    </button>
  </div>
  <!-- <div class="authorizated-mobile-menu-box">
    <div class="authorizated-mobile-menu-user">
      <div class="user-icon-box">
        <svg class="user-icon">
          <use href="/src/images/symbol-defs.svg#icon-user"></use>
        </svg>
      </div>
      <p class="user-name">Stephen</p>
    </div>
    <ul class="mobile-navigation-list">
      <li class="mobile-navigation-item current">
        <a class="mobile-navigation-link" href="/src/index.html">home</a>
      </li>
      <li class="mobile-navigation-item">
        <a class="mobile-navigation-link" href="/src/shopping_list.html"
          >shopping list
          <svg class="logo-shop">
            <use href="/src/images/symbol-defs.svg#icon-shop-list"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button type="button" class="log-out-mobile-btn">
      Log out
      <svg class="sing-up-icon">
        <use href="/src/images/symbol-defs.svg#icon-arrow-sign"></use>
      </svg>
    </button>
  </div> -->
</div>
<script>
  function onChange() {
    const header = document.querySelector('header-container');
    const checkbox = document.querySelector('.theme-switcher-input');
    const iconLogo = document.querySelector('.logo-name');
    const iconShop = document.querySelector('.logo-shop');
    const current = document.querySelector('.current');
    const burgerIcon = document.querySelector('.burger-icon');
    // const navLinks = document.querySelectorAll('.navigation-link');
    if (checkbox.checked) {
      checkbox.classList.toggle('dark-theme');
      header.classList.toggle('dark-theme');
      iconLogo.classList.toggle('dark-theme');
      iconShop.classList.toggle('dark-theme');
      current.classList.toggle('dark-theme');
      burgerIcon.classList.toggle('dark-theme');
      // navLinks.forEach(element => {
      //   element.classList.toggle('dark-theme');
      // });
    } else {
      checkbox.classList.toggle('dark-theme');
      header.classList.toggle('dark-theme');
      iconLogo.classList.toggle('dark-theme');
      iconShop.classList.toggle('dark-theme');
      current.classList.toggle('dark-theme');
      burgerIcon.classList.toggle('dark-theme');
      // navLinks.forEach(element => {
      //   element.classList.toggle('dark-theme');
      // });
    }
  }
</script>
