<button type="button" class="modal-close-btn" data-modal-close>
  <svg class="modal-close-btn-icon" data-modal-close>
    <use href="/src/images/symbol-defs.svg#icon-close" data-modal-close></use>
  </svg>
</button>
<div class="modal-book-card-wrapper">
  <div class="modal-book-picture-wrapper"></div>
  <div class="modal-book-info-wrapper"></div>
  <ul class="list modal-shop-list">
    <li>
      <a href="#" class="modal-shop-link shop-image_amazon" target="blank">
        <img
          srcset="
            /src/images/modal-imgs/icons-for-light-theme/amazonLight.png    1x,
            /src/images/modal-imgs/icons-for-light-theme/amazonLight@2x.png 2x
          "
          src="/src/images/modal-imgs/icons-for-light-theme/amazonLight.png"
          alt="Amazon Logo"
          class="shop-image"
        />
      </a>
    </li>
    <li>
      <a href="#" class="modal-shop-link" target="blank">
        <img
          srcset="
            /src/images/modal-imgs/icons-for-light-theme/appleBooks.png    1x,
            /src/images/modal-imgs/icons-for-light-theme/appleBooks@2x.png 2x
          "
          src="/src/images/modal-imgs/icons-for-light-theme/appleBooks.png"
          alt="Apple Books Logo"
          class="shop-image"
        />
      </a>
    </li>
    <li>
      <a href="#" class="modal-shop-link" target="blank">
        <img
          srcset="
            /src/images/modal-imgs/icons-for-light-theme/bookShop.png    1x,
            /src/images/modal-imgs/icons-for-light-theme/bookShop@2x.png 2x
          "
          src="/src/images/modal-imgs/icons-for-light-theme/bookShop.png"
          alt="Book Shop Logo"
          class="shop-image"
        />
      </a>
    </li>
  </ul>
</div>
<button type="button" class="modal-action-btn">ADD TO SHOPPING LIST</button>
<div class="congratulations-text"></div>
