<div class="bgCss">

    <div class="wrap">
      <button class="cls"></button>
    
      <form action="submit" class="form_sign">
        <input placeholder="NAME" class="name input" type="text">
    
        <input placeholder="EMAIL" class="email" type="email" name="email" autofocus  />
    
        <input placeholder="PASSWORD" class="pass input" type="password" name="password" id="">
    
        <button>Sign up</button>
      </form>
      <ul class="list sign_list">
        <li><a href="">sign up</a></li>
        <li><a href="">sign in</a></li>
      </ul>
    </div>
  
  </div>