<script src="https://kit.fontawesome.com/22ca38806f.js" crossorigin="anonymous"></script>

<div class="bacckdrop-sign is-hidden" data-modal-sign>

  <div class="wrap_modal_sign is-hidden">
    
    <button type="button" class="close-modal" data-modal-close-sign>
      <i class="fa-solid fa-xmark fa-xl"></i>
    </button>
    
      <form action="submit" class="form_sign">
        <input placeholder="NAME" class="name input" type="text">
        
        <input placeholder="EMAIL" class="email input" type="email" name="email" />
        <i class="fa-regular fa-envelope email-icon-modal-sign"></i>
        
        <input placeholder="PASSWORD" class="pass input" type="password" name="password">
        <i class="fa-solid fa-lock password-icon-modal-sign"></i>
        
        <button class="sign-btn-on-modal" data-modal-cls>Sign up</button>
        
      </form>
    
    <ul class="list sign_list">
      <li><a href="#" class="sign-up">sign up</a></li>
      <li><a href="#" class="sign-in">sign in</a></li>
      
    </ul>
  </div>
</div>

<div id="scrollup" class="isshowbtn isshowbtn__hide">
  <i class="fa-solid fa-chevron-up "></i>
</div>
