<h3 class="support-text">
    Support Ukraine
    <svg class="svg-vector" width="20" height="32">
        <use href="./images/symbol-defs.svg#icon-trident">
    </svg>
</h3>
<div class="swiper">
<ul class="support-list swiper-wrapper">
    <li class="support-item swiper-slide save">01 <a href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis" target="_blank">
        <picture>
            <source
              srcset="
              ./images\img-sup\save.png   1x,
              ./images\img-sup\save@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img class="support-img"
            src="./images\img-sup\save.png" 
            alt="Save the Children">
        </picture>
    </a> 
    </li>
    <li class="support-item swiper-slide">02 <a href="https://www.projecthope.org/country/ukraine/" target="_blank">
        <picture>
            <source
              srcset="
              ./images\img-sup\hope.png   1x,
              ./images\img-sup\hope@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img class="support-img"
            src="./images\img-sup\hope.png" 
            alt="Project HOPE">
        </picture>
    </a> </li>
    <li class="support-item swiper-slide">03 <a href="https://u24.gov.ua/uk" target="_blank">
        <picture>
            <source
              srcset="
              ./images\img-sup\united.png   1x,
              ./images\img-sup\united@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img class="support-img"
            src="./images\img-sup\united.png" 
            alt="UNITED24">
        </picture>
    </a> </li>
    <li class="support-item swiper-slide">04 <a href="https://internationalmedicalcorps.org/country/ukraine/" target="_blank">
        <picture>
            <source
              srcset="
              ./images\img-sup\med.png   1x,
              ./images\img-sup\med@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img class="support-img"
            src="./images\img-sup\med.png " 
            alt="International Medical Corps">
        </picture>
    </a> </li>
    <li class="support-item swiper-slide">05 <a href="https://www.msf.org/ukraine" target="_blank">
        <picture>
            <source
              srcset="
              ./images\img-sup\sans.png   1x,
              ./images\img-sup\sans@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img class="support-img"
            src="./images\img-sup\sans.png" 
            alt="Medicins Sans Frontieres">
        </picture>
    </a> </li>
    <li class="support-item swiper-slide">06 <a href="https://www.razomforukraine.org/" target="_blank">
        <picture>
            <source
              srcset="
              ./images\img-sup\razom.png   1x,
              ./images\img-sup\razom@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img class="support-img"
            src="./images\img-sup\razom.png" 
            alt="RAZOM">
        </picture>
    </a> </li>
    <li class="support-item swiper-slide">07 <a href="https://www.actionagainsthunger.org/location/europe/ukraine/" target="_blank">
        <picture>
            <source
              srcset="
              ./images\img-sup\action.png   1x,
              ./images\img-sup\action@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img class="support-img"
            src="./images\img-sup\action.png" 
            alt="Action against hunger">
        </picture>
    </a> </li>
    <li class="support-item swiper-slide">08 <a href="https://www.wvi.org/emergencies/ukraine" target="_blank">
        <picture>
            <source
              srcset="
              ./images\img-sup\vision.png   1x,
              ./images\img-sup\vision@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img class="support-img"
            src="./images\img-sup\vision.png" 
            alt="World vision">
        </picture>
    </a> </li>
    <li class="support-item swiper-slide">09 <a href="https://prytulafoundation.org/en" target="_blank">
        <picture>
            <source
              srcset="
              ./images\img-sup\charity.png   1x,
              ./images\img-sup\charity@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img class="support-img"
            src="./images\img-sup\charity.png" 
            alt="Serhiy Prytula Charity Foundation">
        </picture>
    </a> </li>
</ul>
</div>
<div class="swiper-button-next"></div>
<div class="swiper-button-go-to-start"></div>