<h3 class="support-text">
    Support Ukraine
    <svg class="svg-vector" width="20" height="32">
        <use href="./img/symbol-defs.svg#icon-Vector">
        </use>
    </svg>
</h3>
<div>
<ul class="support-list swiper image_support">
    <li class="support-item">01 
        <!-- <picture>
            <source
              srcset="
              ./img\support_img\save.png   1x,
              ./img\support_img\sans@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img class="support-img"
            src="./img\support_img\save.png" 
            alt="Save the Children">
        </picture>     -->
    </li>
    <li class="support-item">02 </li>
    <li class="support-item">03 </li>
    <li class="support-item">04 </li>
    <li class="support-item">05 </li>
    <li class="support-item">06 </li>
    <li class="support-item">07 </li>
    <li class="support-item">08 </li>
    <li class="support-item">09 </li>
</ul>
</div>

<!-- <button type="button" class="slider_button"></button> -->